@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GITHUB ACTIONS DONE BY RAHAT for second time <a href="https://www.google.com">Surfing With Google</a>.</p>
</div>
